# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/


.pytest_cache/
.terraform/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log
*.hcl

infra/terraform-k3s/terraform.tfstate
infra/terraform-k3s/terraform.tfstate.backup
